.vscode/**
.vscode-test/**
src/**
test-python/**
node_modules/**
.gitignore
tsconfig.json
**/*.map
**/*.ts
media/panel-src.js
debug.log
generate_icon.py
NEXT_STEPS.md
images/icon.svg
images/icon@2x.png
